<section class="blue-teal-gradient-bg">
  <div class="page-width pt-sm-5 pb-sm-5 pt-lg-5 pb-lg-5 text-white text-center error-404">
    <a class="d-block pb-lg-5" href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0690/8071/1488/files/uni-white-logo.png?v=1683726583"></a>
    <h1 class="pt-lg-5 pt-sm-4">404</h1>
    <p class="text-uppercase pb-lg-5 pb-sm-3 gotham-medium">Page not found</p>
    <a href="{{ routes.root_url }}" class="btn-black shadow-xxl btn-outline-black min-w-160 btn-xs-1 btn-xs-0 min-w-sm-100-px font-lg-16 font-sm-10 text-uppercase">back to home</a>
  </div>
</section>
{% schema %}
  {
    "name": "404 Error Page",
    "presets": [
      {
        "name": "404 Error Page",
        "category": "404 Error Page"
      }
    ],
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}