<script>
  
$(function() {
  // document is loaded and DOM is ready
  let pathName = $(location).attr('pathname');
  let redirectURL = "https://app.universaltennis.com";
  alert('redirectURL = '+redirectURL);
  //$(location).attr('href',redirectURL+pathName);
});  
  
</script>

<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
