<div class="pt-lg-1">&nbsp;</div>
{% schema %}
  {
    "name": "Section Spacing",
    "presets": [
      {
        "name": "Section Spacing",
        "category": "Section Spacing"
      }
    ],
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}