<div class="pt-sm-5" style="display: block;"></div>
{% schema %}
  {
    "name": "Section Spacing Mobile",
    "presets": [
      {
        "name": "Section Spacing Mobile",
        "category": "Section Spacing Mobile"
      }
    ],
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}