<div class="bg_black navsticky">
  <div class="page-width">
    <div class="grid grid--1-col grid--1-col-tablet grid--1-col-desktop">
        <div class="grid__item">
          <ul class="pronavbar">
            <li class="active"><a href="#Coachplans">College features</a></li>
            <li><a href="#Coachplans3cols">COACH PLANS</a></li>
            <li><a href="#Collegepartners">COLLEGE PARTNERS</a></li>
            <li><a href="#Coachresources">COACH RESOURCES</a></li>
          </ul>
        </div>
    </div> 
  </div>
</div>
<script>
jQuery(function($){
	var topMenuHeight = $(".pronavbar").outerHeight();
	$(".pronavbar").menuScroll(topMenuHeight);
});

// COPY THE FOLLOWING FUNCTION INTO ANY SCRIPTS
jQuery.fn.extend({
    menuScroll: function(offset) {
		// Declare all global variables
        var topMenu = this;
		var topOffset = offset ? offset : 0;
        var menuItems = $(topMenu).find("a");
        var lastId;
	
		// Save all menu items into scrollItems array
        var scrollItems = $(menuItems).map(function() {
            var item = $($(this).attr("href"));
            if (item.length) {
                return item;
            }
        });

		// When the menu item is clicked, get the #id from the href value, then scroll to the #id element
        $(topMenu).on("click", "a", function(e){
            var href = $(this).attr("href");
            
            var offsetTop = href === "#" ? 0 : $(href).offset().top-topOffset;

            $('html, body').stop().animate({ 
                scrollTop: offsetTop +5
            }, 300);
            e.preventDefault();

        });
		
		// When page is scrolled
        $(window).scroll(function(){
            var nm = $("html").scrollTop();
            var nw = $("body").scrollTop();
            var fromTop = (nm > nw ? nm : nw)+topOffset;

			
			// When the page pass one #id section, return all passed sections to scrollItems and save them into new array current
            var current = $(scrollItems).map(function(){
                if ($(this).offset().top <= fromTop)
                return this;
            });
			
			// Get the most recent passed section from current array
            current = current[current.length-1];
            var id = current && current.length ? current[0].id : "";
            if (lastId !== id) {
                lastId = id;
                // Set/remove active class
                $(menuItems)
                .parent().removeClass("active")
                .end().filter("[href='#"+id+"']").parent().addClass("active");
            }      

        });
    }
});
</script>
</script>
{% schema %}
  {
    "name": "Ut College Navigation",
    "presets": [
      {
        "name": "Ut College Navigation",
        "category": "Ut College Navigation"
      }
    ],
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
