.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0 0 3rem;
  padding-bottom: 20px;
}
.product-recommendations__heading{  
  position:relative;
  text-align:center;
  color: var(--color-black);
  font-family: var(--font-Tungsten);
}
.product-recommendations__heading:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    background: #00C0F7;
    height: 3px;
}
@media(min-width:750px){
  .product-recommendations__heading{
   font-size:55px; 
            font-weight: 600;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0;
  }
}

@media(max-width:749px){
  .product-recommendations__heading{
    font-size:36px; 
  }
}