.multirow-with-text__wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 60px;
}

.multirow-with-text__iwt-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    row-gap: 30px;
}

.multirow-with-text__content{
    flex: 0 0 calc(40% - 10px);
}

.multirow-with-text__content-inner{
    max-width: 52.8rem;
}

.multirow-with-text__iwt {
    flex: 0 0 calc(60% - 10px);
}

.multirow-with-text__iwt-item .image-wrap{
    flex: 0 0 45%;
}

.multirow-with-text__iwt-item .image-wrap img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.multirow-with-text__iwt-item .content-wrap h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.multirow-with-text__iwt-item .content-wrap .rte {
    font-size: 17px;
    line-height: 160%;
}

.multirow-with-text__iwt-item:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D7E0EA;
}

.multirow-with-text__content .title{
    margin-top: 0;
    margin-bottom: 2.4rem;
    line-height: 100%;
    letter-spacing: -0.04px;
}

.multirow-with-text__content .rte {
    font-size: 17px;
    line-height: 160%;
    margin-bottom: 2.4rem;
}

.multirow-with-text__content .antr--button .button--primary {
    font-size: 14px;
    letter-spacing: -.3px;
    padding: 10px 15px;
    min-height: 56px;
    border-radius: 12px;
    min-width: 196px;
}

@media (min-width: 990px) and (max-width: 1439px) {
    .multirow-with-text__content .title{
        font-size: 3.6rem !important;
        margin-bottom: 1.6rem;
    }
    .multirow-with-text__content .rte{
        margin-bottom: 2rem;
    }
}

@media (min-width: 750px) and (max-width: 989px) {
    .multirow-with-text__iwt,
    .multirow-with-text__content{
        flex: 0 0 calc(50% - 10px);
    }
    .multirow-with-text__iwt-item {
        flex-direction: column;
    }
}

@media only screen and (min-width: 750px) {
    .multirow-with-text .page-width{
        padding-left: 4.95rem;
        padding-right: 4.95rem;
        max-width: 176rem;
    }
    .multirow-with-text__content .title.h0 {
        font-size: calc(var(--font-heading-scale) * 6.4rem);
    }
}

@media only screen and (max-width: 749px) {
    .multirow-with-text__wrapper{
        flex-direction: column;
    }

    .multirow-with-text__content,
    .multirow-with-text__iwt{
        flex: 0 0 100%;
    }

    .multirow-with-text__iwt-item .image-wrap,
    .multirow-with-text__iwt-item .content-wrap {
        flex: 0 0 100%;
    }

    .multirow-with-text__iwt-item{
        flex-direction: column;
    }

    .multirow-with-text__iwt-item:last-child{
        padding-bottom: 30px;
        border-bottom: 1px solid #D7E0EA;
    }

    .multirow-with-text__iwt-item .content-wrap h3{
        font-size: 2.4rem;
    }
}
