.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}
.blog-content{padding:1.5rem;background:#e7f9ff}
.blog-content a{text-decoration:none}
.blogdate{font-style:italic;font-size:18px;color:var(--color-teal-light)}
.blog-content:hover{background:var(--blue-teal-gradient)}
.blog-content:hover .blogdate{color:var(--color-black)}
.blog-content .blg-arrow{display:none}
.blog-content:hover .blg-arrow{display:block}
.blog-text-clamp{    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    display: -webkit-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow-wrap: break-word;}
.blog-items-img:after{    
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
}
.blog-content-bottom{    
    position: absolute;
    bottom: 2rem;
    z-index: 1;
}
@media screen and (min-width: 750px) {
  .blog-content-bottom{ padding: 3rem;left: 2rem; width:80%}
  .blog-col-left{width:70%}
  .blog-col-right{width:30%}
  .blog-bg-space{min-height:616px;}
  .blog-articles {
       grid-template-columns:1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
  .blogbtn{
    min-width:170px;
    font-size: 16px;
    padding:1.8rem 3rem;
  }
  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}
@media(max-width:749px){
  .blog-content-bottom{ padding: 1rem;left: 0rem;}
  .blog-bg-space{padding-bottom:120%}
   .blogbtn{
    min-width:160px;
    font-size: 14px;
    padding:1.5rem 2rem;
  }
}  
  
@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

.blogbtn{
  border: 0.7px solid var(--color-black);
  border-radius: 30px;
  display: inline-block;
  color: var(--color-black);
  text-align: center;
  text-decoration: none;
  text-transform: initial;
  font-family: var(--font-gotham-medium);
  line-height: calc(1 + .2 / var(--font-body-scale));
  position:relative;
  z-index:1;
}
.blogbtn:hover{    
  color: var(--color-white);
}